4_JG_PHP/JG_PHP_SOAP/con_wsdl/Calcula3 copy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://localhost/JYOC_HTDOCS/00.JYOC_GUIAS_RAPIDAS/4_JG_PHP/JG_PHP_SOAP/con_wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/JYOC_HTDOCS/00.JYOC_GUIAS_RAPIDAS/4_JG_PHP/JG_PHP_SOAP/con_wsdl/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost/JYOC_HTDOCS/00.JYOC_GUIAS_RAPIDAS/4_JG_PHP/JG_PHP_SOAP/con_wsdl/"/>
    </wsdl:types>
    <wsdl:message name="suma3Request">
        <wsdl:part name="a" type="xsd:float"/>
        <wsdl:part name="b" type="xsd:float"/>
    </wsdl:message>
    <wsdl:message name="suma3Response">
        <wsdl:part name="suma3Return" type="xsd:float"/>
    </wsdl:message>
    <wsdl:message name="resta3Request">
        <wsdl:part name="a" type="xsd:float"/>
        <wsdl:part name="b" type="xsd:float"/>
    </wsdl:message>
    <wsdl:message name="resta3Response">
        <wsdl:part name="resta3Return" type="xsd:float"/>
    </wsdl:message>
    <wsdl:portType name="Calcula3PortType">
        <wsdl:operation name="suma3">
            <wsdl:documentation>Suma dos números y devuelve el resultado</wsdl:documentation>
            <wsdl:input message="tns:suma3Request"/>
            <wsdl:output message="tns:suma3Response"/>
        </wsdl:operation>
        <wsdl:operation name="resta3">
            <wsdl:documentation>Resta dos números y devuelve el resultado</wsdl:documentation>
            <wsdl:input message="tns:resta3Request"/>
            <wsdl:output message="tns:resta3Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Calcula3Binding" type="tns:Calcula3PortType">
        <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="suma3">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/JYOC_HTDOCS/00.JYOC_GUIAS_RAPIDAS/4_JG_PHP/JG_PHP_SOAP/con_wsdl/soap3_servidor.php?method=suma3" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resta3">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/JYOC_HTDOCS/00.JYOC_GUIAS_RAPIDAS/4_JG_PHP/JG_PHP_SOAP/con_wsdl/soap3_servidor.php?method=resta3" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Calcula3">
        <wsdl:documentation/>
        <wsdl:port name="Calcula3Port" binding="tns:Calcula3Binding">
            <soap-env:address location="http://localhost/JYOC_HTDOCS/00.JYOC_GUIAS_RAPIDAS/4_JG_PHP/JG_PHP_SOAP/con_wsdl/soap3_servidor.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
